.productList {
    width: 100%;
}

.productItem {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--color-monetary-values);
    background: var(--color-card-background);
    box-sizing: border-box;
}

.productName {
    color: var(--color-subtitles);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 5px;
}

.productPrice {
    color: var(--color-monetary-values);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.noProductsMessage {
    color: var(--color-error);
    font-size: 16px;
    padding: 20px;
    text-align: center;
}