.card {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: var(--color-card-background);
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
}